html, body {position: relative;height: 100%;color: #fff;}
body{background: url(../img/bannera.jpg) no-repeat center/cover;box-sizing: border-box;padding:0 10px;}
.swiper-container {width: 100%;height: 100%;}
.swiper-pagination-bullet{background: #fff;}
.swiper-pagination-bullet-active{background: #d33638;}
.box{background: rgba(0,0,0,0.6);-webkit-filter: blur(10px);height: 100%;width: 100%;position: absolute;top: 0;bottom: 0;left: 0;right: 0;}



.audio_top{height: 80%;}
.swiper-slide_list {margin: 10px 0 0 0;}
.swiper-slide_list ul{height: 95%;overflow: scroll;}
.swiper-slide_list ul li{height:36px!important;line-height: 36px;margin: 0!important;font-size: 14px;border-radius: 4px;box-sizing: border-box;padding: 0 10px;}
.swiper-slide_list ul li.on{background: url(../icon/li.png) no-repeat center/cover;}
.swiper-slide_list ul li.on i{display: block;float: right;background: url(../img/loading1.gif) center/cover;width: 30px;height: 30px;position: relative;top: 3px;}

.swiper-slide_detail {}
.swiper-slide_detail .stylus{background: url(../icon/cz1.png) no-repeat center/cover;width: 20%;position: absolute;left: 50%;top: -12px;margin: 0px 0 0 -3%;transform-origin: 17.77% 11.85%;transform: rotate(-20deg);transition: all 0.5s ease;z-index: 1;}
.swiper-slide_detail .stylus img{display: block;width: 100%;}
.swiper-slide_detail .stylus.on{transform: rotate(10deg);}
.swiper-slide_detail .disc{/*width: 15rem;height: 15rem*/;width: 70%;margin: 60px auto 0;border-radius:100% ;overflow: hidden;background: url(../icon/cp2.png) no-repeat center/cover;position: relative;}
.swiper-slide_detail .disc .s{width: 100%;display: block;}
.swiper-slide_detail .disc .t{display: block;/*width: 7.5rem;height: 7.5rem;*/width: 50%;position: absolute;top: 50%;left: 50%;border-radius: 100%;margin: -25% 0 0 -25%;opacity: .8;}
.swiper-slide_detail .detail{margin-top: 20px;}
.swiper-slide_detail .detail p{text-align: center;font-size: 14px;color: #EAE8E9;height: 30px;line-height: 30px;}

.swiper-slide_lrc {}
.swiper-slide_lrc ul{position: absolute; top: 0px; left: 0px; width: 100%;text-align: center;font-size: 14px;color: #EAE8E9;height: 80%;overflow: hidden;margin: 10% 0 0 0;}
.swiper-slide_lrc ul li.on{color: #d33638;}

.audio_bot{height: 20%;}
.jd{width: 95%;background: #b0afae;height: 4px;border-radius:4px ;margin: 20px auto 0;}
.jdc{width: 0%;background: #d33638;border-radius:4px ;height: 4px;position: relative;}
.jdc::before{content: "";background: #d33638;position: absolute;top: -6px;right: -10px;width: 4px;height: 4px;border-radius: 100%;border: 6px solid #fff;}
